/* Amsi Cazares, 12/9/25 */

body {
    font-family: "Segoe UI", sans-serif;
    text-align: center;
    background-color: #fafafa;
    padding-top: 40px;
}

/* Phone itself */
#phone {
    background: rgb(19, 17, 17);
    width: 335px;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(3, 2, 2, 0.15);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Phone screen */
#screen {
    background-image: url("featured.png");
    height: 160px;
    border-radius: 10px;
    padding: 20px;

    box-shadow: inset 0 0 8px rgba(0,0,0,0.1);

    display: center;
    align-items: center;
}

#emotionDisplay {
    font-size: 1.2rem;
    font-style: italic;
    color: #ffffff;
}

/* Keypad */
#keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

/* Keypad buttons */
.emotion-btn {
    padding: 15px;
    background: #313131;
    border: none;
    border-radius: 12px;
    font-size: 0.9rem;
    cursor: pointer;
    color: white;

    box-shadow: 0 3px 6px rgba(255, 252, 252, 0.308);
    transition: transform 0.2s, background-color 0.3s;
}

#screen {
    position: relative; /* allows absolute children */
}

#clickCounter {
    position: absolute;
    bottom: 10px;
    right: 12px;

    font-size: 0.8rem;
    color: #555;
    opacity: 0.8;
}

.emotion-btn:hover {
    transform: scale(1.07);
    background-color: #313030;
}
